<section class="padding-body-lr">
  <header>
    <h4>Create Filter</h4>
    <div class="form-action-btns">
      <button class="btn btn-outline-success" [disabled]="!form.valid" form="filters" type="submit">
        Save
      </button>
      <button class="btn btn-outline-secondary" form="filters" type="reset">Reset form</button>
      <button class="btn btn-outline-danger" form="filters" [routerLink]="['/']">
        Cancel
      </button>
    </div>
  </header>
  <form ngNativeValidate (ngSubmit)="submit()" id="filters" [formGroup]="form" action="submit()">
    <fieldset>
      <p class="alert alert-danger" role="alert" *ngIf="formSaveError">
        {{ formSaveError }}
      </p>
      <legend>Title</legend>
      <div class="form-group row no-gutters justify-content-start">
        <input class="form-control col" type="text" formControlName="displayTitle" required />
      </div>
    </fieldset>

    <small *ngIf="!conditions.valid && conditions.errors" class="text-danger">{{ conditions.errors.required }}</small>
    <app-filter-rule [form]="conditions" formGroupName="conditions"></app-filter-rule>

    <small *ngIf="!action.valid" class="text-danger">{{ action.errors.required }}</small>
    <fieldset formGroupName="action">
      <legend>Actions</legend>
      <div class="form-group form-inline row no-gutters justify-content-start">
        <label class="col-3 justify-content-start" for="add-labels">Add labels</label>
        <input
          id="add-labels"
          class="form-control col"
          formControlName="addLabels"
          name="addLabels"
          type="text"
          multiple
        />
      </div>
      <div class="form-group form-inline row no-gutters justify-content-start">
        <label class="col-3 justify-content-start" for="copy-to">Copy to folder</label>
        <input class="form-control col" formControlName="copyToFolder" name="copyToFolder" id="copy-to" type="text" />
      </div>
      <div class="form-group form-inline row no-gutters justify-content-start">
        <label class="col-3 justify-content-start" for="forward-to">Forward to addresses</label>
        <input
          class="form-control col"
          formControlName="forwardTo"
          name="forwardTo"
          id="forward-to"
          type="email"
          multiple
        />
      </div>
      <div class="form-group form-inline row no-gutters justify-content-start">
        <label class="col-3 justify-content-start" for="move-to">Move to folder</label>
        <input class="form-control col" formControlName="moveToFolder" name="moveToFolder" id="move-to" type="text" />
      </div>
      <div class="form-group form-inline row no-gutters justify-content-start">
        <label class="col-3 justify-content-start" for="remove-labels">Remove labels</label>
        <input
          class="form-control col"
          formControlName="removeLabels"
          name="removeLabels"
          type="text"
          id="remove-labels"
          multiple
        />
      </div>
      <div class="form-group form-inline row no-gutters justify-content-start">
        <div class="form-check col justify-content-start">
          <input
            class="form-check-input form-check-inline"
            id="delete-msg"
            formControlName="delete"
            name="delete"
            type="checkbox"
            value="1"
          />
          <label class="form-check-label" for="delete-msg">Delete</label>
        </div>
        <div class="form-check col justify-content-start">
          <input
            class="form-check-input form-check-inline"
            formControlName="markAsRead"
            name="markAsRead"
            id="mark-read"
            type="checkbox"
            value="1"
          />
          <label class="form-check-label" for="mark-read">Mark as read</label>
        </div>
        <div class="form-check col justify-content-start">
          <input
            class="form-check-input form-check-inline"
            formControlName="stopProcessingRules"
            name="stopProcessingRules"
            type="checkbox"
            id="stop"
            value="1"
          />
          <label class="form-check-label" for="stop">Stop processing rules</label>&nbsp;<small
            >Outlook&trade; only!</small
          >
        </div>
      </div>
    </fieldset>

    <app-filter-rule [form]="exceptions" formGroupName="exceptions"></app-filter-rule>
  </form>
</section>
