@import "../../workspace.css";

.filter-item {
  background: white;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 1em;
  box-shadow: 0em 0em 1px 1px rgba(0, 0, 0, 0.2);
}

.filter-item p {
  color: black;
  font-weight: normal;
  margin: auto auto auto 0;
}

.text-small {
  color: gray;
  font-size: 0.8em;
}

.filter-item .btn {
  display: inline-block;
  font-size: 0.9em;
  cursor: pointer;
  margin-left: 0.5em;
}
