<section class="workspace padding-body-lr">
  <header class="flex-items-between">
    <h4>Filters</h4>
    <div class="add-floating-oval-white bg-white" role="button" routerLink="/filters/new">
      <span class="material-icons">add</span>
      <span>New Filter</span>
    </div>
  </header>
  <p *ngIf="filters.length === 0">No filter found</p>
  <app-confirm-action-dialog
    [message]="confirmActionMessage"
    [modal]="modal"
    (choice)="handleSelection($event)"
  ></app-confirm-action-dialog>

  <div class="filter-item" *ngFor="let filter of filters">
    <p>
      {{ filter.displayTitle }}
      <br />
      <span class="text-small">{{ filter.dateCreated | date: "d MMMM, y HH:mm" }}</span>
    </p>
    <button class="btn btn-outline-dark" (click)="handleApply(filter)">Apply</button>
    <span (click)="deleteFilter(filter)" class="trash">delete</span>
  </div>
</section>
